#prev-next {

}

#prev-next .prev {
    float:left;
    width:50%;
    position:relative;
    padding-left:35px;
}

#prev-next .next:after {

    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-left-color: inherit;
    border-width: 20px;
    margin-top: -20px;
    margin-left: -20px;
}

#prev-next .prev:after {

    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-right-color: inherit;
    border-width: 20px;
    margin-top: -20px;
    margin-right: -20px;
}


#prev-next .next {
    float:right;
    width:50%;
    position:relative;
    text-align:right;
    padding-right: 35px;
}

#prev-next .prev-next-title {
    display:block;
    font-weight:bold;
}

#prev-next .prev-next-subtitle {
    display:block;
}